%legend Edit Comment

= simple_form_for([@comment.article, @comment], :html => { :class => 'form-horizontal' }) do |f|
  = f.input :body, label: "Comment Body", :input_html => { :class => "span9" }
  = f.button :submit, class: 'btn-primary'

= link_to "Delete Comment", article_comment_path(@comment.article.id, @comment.id), confirm: "Delete Comment?", :method => :delete, class: "delete-link"