body.home
  padding-top: 20px
  .navbar-inner
    border: 0 !important
    background: none !important
    box-shadow: none !important
    -webkit-box-shadow: none !important
section
  p.section-title
    font: 'Abel', sans-serif
    font-size: 36px
  &#intro
    background-image: url('2013_03_Biking-in-San-Francisco.jpg')
    background-attachment: fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    min-width: 1024px
    min-height: 768px
    margin-top: -20px
    .span7
      float: none
      margin-left: auto
      padding-top: 90px
      padding-left: 20px
      p.greeting
        display: inline
        background-color: rgba(255, 255, 255, 0.3)
        color: #000
        font: 'Abel', sans-serif
        text-transform: uppercase
        font-weight: lighter
        font-size: 65px
        text-align: center
        line-height: 80px
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1)
        em
          color: #007fff
  &#about
    background-image: url("light_wool.png")
    height: 590px
    padding-left: 186px
    padding-top: 131px
    p
      font-size: 14px
      line-height: 25px
      color: #333
    p.section-title
      font: 'Abel', sans-serif
      font-size: 36px
    img
      margin-left: 175px
  &#skills
    background-image: url("bg_dark.png")
    height: 530px
    padding-left: 126px
    padding-top: 131px
    color: #FFF
    p.section-title
      padding-left: 60px
      margin-bottom: 45px
    ul
      list-style: none
      font-size: 15px
      float: left
      &.icons
        width: 45px
        &.second-set
          margin-left: 50px
      li
        margin-bottom: 20px
        display: block
        width: 450px
        height: 50px
        strong
          font-size: 20px
          color: #007fff
      i
        font-size: 40px
        margin-right: 10px
        float: left
      &.right
        margin-left: 25px
  &#contact
    background-color: #000
    height: 530px
    padding-left: 186px
    padding-top: 131px
    color: #FFF
    form
      margin-top: 20px
    p.section-title
      font: 'Abel', sans-serif
      font-size: 36px
    span#spam_email
      display: none
    input
      display: block
      width: 400px
      &.btn-primary
        width: 150px
        margin-top: 15px
    textarea#message
      width: 400px
      height: 150px
    .span5
      float: left
      margin-left: 0px
      p
        font-size: 20px
        line-height: 30px
        margin-top: 11px
